.container {
    position: relative;
    height: 14px;
}

.blocks {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 100%;
    background: url("/Assets/ui/action-bar/experience-block.png") repeat-x 0 0;
}

.fill {
    position: absolute;
    top: 2px;
    left: 0;
    height: 9px;
    background: url("/Assets/ui/action-bar/experience-fill.png") repeat-x 0 0;
}