.container {
    position: relative;
    width: 50px;
    height: 60px;
}

.empty {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://localhost:8080/assets/ui/action-bar/action-empty.png) repeat-x 0 0;
    background-size: 50px auto;
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://localhost:8080/assets/ui/action-bar/action-left.png) repeat-x 0 0;
    background-size: 50px auto;
}

.right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(http://localhost:8080/assets/ui/action-bar/action-right.png) repeat-x 0 0;
    background-size: 50px auto;
}

.overlay {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 43px;
    height: 42px;
    z-index: 2;
    background: url(http://localhost:8080/assets/ui/action-bar/actions.png) no-repeat 0 0;
    background-size: 3000% auto;
}

.overlay:active {
    opacity: 0.5;
}