.container {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.actions {
}

.experience {
}

.leftGlobe {
}

.rightGlobe {
}

.barLeft {
    position: absolute;
    bottom: -4px;
    left: 115px;
    z-index: 2;
    overflow: hidden;
    clip: rect(0px, 400px, 240px, 0px);
}

.barRight {
    position: absolute;
    bottom: -4px;
    right: 115px;
    z-index: 3;
    overflow: hidden;
    transform: scaleX(-1);
    clip: rect(0px, 400px, 240px, 0px);
}