.container {
    position: relative;
    width: 183px;
    height: 200px;
    overflow: hidden;
}

.fill {
    position: absolute;
    bottom: -11px;
    right: 0;
    z-index: 2;
}

.angelStatue {
    position: absolute;
    bottom: -18px;
    right: -125px;
    z-index: 3;
}

.demonStatue {
    position: absolute;
    bottom: -18px;
    right: -125px;
    z-index: 3;
}

.flip {
    transform: scaleX(-1);
}